name: Test

on: [push]

env:
  BUILD_TYPE: Debug

jobs:
  ubuntu:
    name: Test ${{matrix.os}}
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04]

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      shell: bash
      run: sudo apt install libcunit1-dev

    - name: Create Build Environment
      run: cmake -E make_directory ${{github.workspace}}/build

    - name: Configure CMake
      shell: bash
      working-directory: ${{github.workspace}}/build
      run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE

    - name: Build
      working-directory: ${{github.workspace}}/build
      shell: bash
      run: cmake --build . --config $BUILD_TYPE

    - name: Test
      working-directory: ${{github.workspace}}/build
      shell: bash
      run: ctest -C $BUILD_TYPE

  debian:
    name: Test debian ${{matrix.os}}
    runs-on: ubuntu-latest
    container: 
      image: debian:${{matrix.os}}
      volumes:
        - ${{github.workspace}}:${{github.workspace}}

    strategy:
      matrix:
        os: [bookworm, trixie]

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      shell: bash
      run: apt update && apt install build-essential cmake libcunit1-dev --yes

    - name: Create Build Environment
      run: cmake -E make_directory ${{github.workspace}}/build

    - name: Configure CMake
      shell: bash
      working-directory: ${{github.workspace}}/build
      run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE

    - name: Build
      working-directory: ${{github.workspace}}/build
      shell: bash
      run: cmake --build . --config $BUILD_TYPE

    - name: Test
      working-directory: ${{github.workspace}}/build
      shell: bash
      run: ctest -C $BUILD_TYPE
